<md-input-container class="md-block">
    <label for="name">name</label>
    <input type="text" name="name" id="name" ng-model="vm.role.name" required/>
    <div ng-if="vm.roleForm.$dirty" ng-messages="vm.roleForm.name.$error">
        <div ng-message="required">This field is required</div>
        <div ng-message="unique">Duplicate Entry</div>
    </div>
</md-input-container>

<md-input-container class="md-block">
    <label for="desc">desc</label>
    <textarea resize="y" name="desc" id="desc" ng-model="vm.role.desc"></textarea>
</md-input-container>

<div class="md-input-wrapper">
    <md-chips ng-model="vm.role.permissions" md-require-match="true">
        <md-autocomplete md-input-name="permissions" md-input-id="permissions" md-search-text="vm.permissionsSearchText" md-items="item in vm.searchPermissions(vm.permissionsSearchText)" md-item-text="item.resource" md-delay="300" placeholder="permissions">
            <span>{{item.resource}}</span>
        </md-autocomplete>
        <md-chip-template>
            <span>{{$chip.resource}}</span>
        </md-chip-template>
    </md-chips>
</div>

<md-input-container class="md-block">
    <label for="status">status</label>
    <md-select name="status" id="status" ng-model="vm.role.status" required>
        <md-option ng-value="1">1</md-option>
        <md-option ng-value="0"></md-option>
    </md-select>
    <div ng-if="vm.roleForm.$dirty" ng-messages="vm.roleForm.status.$error">
        <div ng-message="required">This field is required</div>
        <div ng-message="enum">Value must be one of the list items</div>
    </div>
</md-input-container>