<md-input-container class="md-block">
    <label for="username">username</label>
    <input type="text" name="username" id="username" ng-model="vm.user.username" required/>
    <div ng-if="vm.userForm.$dirty" ng-messages="vm.userForm.username.$error">
        <div ng-message="required">This field is required</div>
        <div ng-message="unique">Duplicate Entry</div>
    </div>
</md-input-container>

<md-input-container class="md-block">
    <label for="firstName">firstName</label>
    <input type="text" name="firstName" id="firstName" ng-model="vm.user.firstName" minlength="2"/>
    <div ng-if="vm.userForm.$dirty" ng-messages="vm.userForm.firstName.$error">
        <div ng-message="minLength">Characters must be longer than 2</div>
    </div>
</md-input-container>

<md-input-container class="md-block">
    <label for="lastName">lastName</label>
    <input type="text" name="lastName" id="lastName" ng-model="vm.user.lastName" minlength="2"/>
    <div ng-if="vm.userForm.$dirty" ng-messages="vm.userForm.lastName.$error">
        <div ng-message="minLength">Characters must be longer than 2</div>
    </div>
</md-input-container>

<md-input-container class="md-block">
    <label for="email">email</label>
    <input name="email" id="email" ng-model="vm.user.email"/>
    <div ng-if="vm.userForm.$dirty" ng-messages="vm.userForm.email.$error">
        <div ng-message="unique">Duplicate Entry</div>
        <div ng-message="5">Invalid 5</div>
    </div>
</md-input-container>

<md-input-container class="md-block">
    <label for="password">password</label>
    <input type="password" dir="ltr" name="password" id="password" ng-model="vm.user.password" minlength="4" required/>
    <div ng-if="vm.userForm.$dirty" ng-messages="vm.userForm.password.$error">
        <div ng-message="required">This field is required</div>
        <div ng-message="minLength">Characters must be longer than 4</div>
    </div>
</md-input-container>

<md-input-container class="md-block">
    <label for="birthDate">birthDate</label>
    <input dir="ltr" show-picker="true" name="birthDate" id="birthDate" ng-model="vm.user.birthDate" date-input/>
    <div ng-if="vm.userForm.$dirty" ng-messages="vm.userForm.birthDate.$error">
        <div ng-message="date">Invalid date</div>
    </div>
</md-input-container>

<md-input-container class="md-block">
    <label for="gender">gender</label>
    <md-select name="gender" id="gender" ng-model="vm.user.gender">
        <md-option ng-value="1">1</md-option>
        <md-option ng-value="2">2</md-option>
        <div ng-if="vm.userForm.$dirty" ng-messages="vm.userForm.gender.$error">
            <div ng-message="enum">Value must be one of the list items</div>
        </div>
    </md-select>
    <div ng-if="vm.userForm.$dirty" ng-messages="vm.userForm.gender.$error">
        <div ng-message="enum">Value must be one of the list items</div>
    </div>
</md-input-container>

<md-input-container class="md-block">
    <label for="image">image</label>
    <input type="file" accept="image/png,image/jpeg,image/pjpeg" name="image" id="image" ng-model="vm.user.image" file-upload/>
    <div ng-if="vm.userForm.$dirty" ng-messages="vm.userForm.image.$error">
        <div ng-message="fileType">File type is not supported</div>
        <div ng-message="maxSize">File size should be less than 6144 KB</div>
    </div>
</md-input-container>

<div class="md-input-wrapper">
    <md-chips ng-model="vm.user.roleGroups" md-require-match="true">
        <md-autocomplete md-input-name="roleGroups" md-input-id="roleGroups" md-search-text="vm.roleGroupsSearchText" md-items="item in vm.searchRoleGroups(vm.roleGroupsSearchText)" md-item-text="item.name" md-delay="300" placeholder="roleGroups">
            <span>{{item.name}}</span>
        </md-autocomplete>
        <md-chip-template>
            <span>{{$chip.name}}</span>
        </md-chip-template>
    </md-chips>
</div>