*, *:before, *:after {
    box-sizing: border-box;
}

html {
    background-size: cover;
    background: url("../img/bg-main.jpg") no-repeat fixed center;
}

html, body {
    font-family: $baseFontFamily;
    line-height: 1.2;
    direction: $direction;
    text-overflow: clip;
}

body {
    font-size: $fontSizeBase;
    line-height: 1.2;
    background: transparent;
    color: $dark;
}

h1 {
    font-size: $fontSizeXLarge;
}

h2 {
    font-size: $fontSizeLarge;
}

h3 {
    font-size: $fontSizeMedium;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $blue;
    outline: 0 !important;
    &:visited {
        color: $indigo;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.en {
    font-family: Verdana, sans-serif;
    direction: ltr;
}

.checkbox-item {
    display: inline-block;
    margin-#{$opposite-float}: 15px;
}

.heading {
    color: $primary;
    margin-top: 30px;
}

.acl-checkbox {
    direction: ltr;
}

.input-container {
    display: inline-block;
    label {
        display: block;
        color: $darkGray;
    }
    input, textarea, select {
        display: block;
        border: solid 1px $silver;
        height: 30px;
        padding: 5px;
    }
}